.git
.gitignore
.env
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.DS_Store
flask_session
temp
output.txt
log.txt
error.log
tests
backups
data/uploads
data/backup
flymanager/app/static/generated_labels