{% set filter_key = filter_name | replace(' ', '') %}
<div class="filter-col">
    <label class="filter-label" for="filter{{ filter_key }}">{{ filter_name }}</label>
    <div class="filter-input-shell">
        <select id="filter{{ filter_key }}" name="filter{{ filter_key }}" class="form-control explorer-filter-control">
        <option value="">All</option>
        {% for value in options %}
            <option value="{{ value }}" {% if selected == value %}selected{% endif %}>{{ value }}</option>
        {% endfor %}
        </select>
    </div>
</div>
