{% extends "base.html" %}

{% block title %}Homepage{% endblock %}

{% block head %}
<style>
    .introduction {
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }
    .quick-access button {
        margin: 5px;
    }
    .recent-activity,
    .statistics {
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
    }
    .activity-item {
        padding: 10px;
        border-bottom: 1px solid #ddd;
    }
</style>
{% endblock %}

{% block content %}
<div class="introduction">
    <h2><strong>Welcome to the Ruta Lab Fly Manager 🪰</strong></h2>
    <p>This app helps you manage and explore genetic crosses, trays, and stocks efficiently.</p>
</div>
<div class="recent-activity">
    <h3>Recent Activity</h3>
    {% if activities %}
        <div class="list-group">
            {% for activity in activities %}
                <div class="list-group-item activity-item">
                    <p class="mb-1"><small>{{ activity.timestamp }}</small> {{ activity.activity }}</p>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>No recent activity to display.</p>
    {% endif %}
</div>
<div class="statistics">
    <h3>Statistics and Summaries</h3>
    <p>No statistics to display.</p>
</div>
{% endblock %}
