{% extends "base.html" %}

{% block title %}Cross Explorer{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/cross_explorer.css') }}">
{% endblock %}

{% block content %}
<div class="filters">
    <h3>Filters</h3>
    {% include 'filter_cross.html' %}
</div>
<div class="mb-3">
    <a href="/add_cross" class="btn btn-success">Add New Cross</a>
</div>
<div class="cross-container">
    <div class="cross-items-grid">
        {% for cross in crosses %}
        <div class="cross-item" data-status="{{ cross.Status }}" id="item-{{ loop.index }}">
            <div style="display: flex; justify-content: space-between; align-items: center;">
                <div class="checkbox-and-badges">
                    <input type="checkbox" id="cross{{ loop.index }}">
                    <div class="badges">
                        <span class="badge badge-info">{{ cross.FoodType }}</span>
                        <span class="badge badge-secondary">{{ cross.Status }}</span>
                    </div>
                </div>
                <div style="display: flex; align-items: center;">
                    <button class="btn btn-link btn-sm expand-btn" onclick="toggleDetails({{ loop.index }})">
                        <i class="fas fa-chevron-down"></i>
                    </button>
                    <button class="btn btn-link btn-sm view-details-btn" onclick="viewDetails('{{ cross.UniqueID }}')">
                        <i class="fas fa-external-link-alt"></i>
                    </button>
                </div>
            </div>
            <div style="flex-grow: 1; padding-top: 10px;">
                <h5>
                    {% if cross.TrayID and cross.TrayPosition %}
                        {{ cross.TrayID }}-{{ cross.TrayPosition }}
                    {% endif %}
                    | <small class="text-muted">{{ cross.Name }}</small>
                </h5>
                <p>
                    <strong>Male Stock:</strong> {{ cross.MaleUniqueID }}<br>
                    <strong>Male Genotype:</strong> {{ cross.MaleGenotype }}<br>
                    <strong>Female Stock:</strong> {{ cross.FemaleUniqueID }}<br>
                    <strong>Female Genotype:</strong> {{ cross.FemaleGenotype }}<br>
                    <strong>Unique Identifier:</strong> <i>{{ cross.UniqueID }}</i>
                </p>
            </div>
            <div class="details" id="details-{{ loop.index }}" style="display: none; width: 100%;">
                <div style="display: flex; flex-wrap: wrap;">
                    <div style="flex: 1;">
                        <p><strong>Comments:</strong> {{ cross.Comments }}</p>
                        <p><strong>Creation Date:</strong> {{ cross.CreationDate }}</p>
                    </div>
                    <div style="flex: 1;">
                        <p><strong>Last Flip Date:</strong> {{ cross.LastFlipDate }}</p>
                        <p><strong>Data Modified Date:</strong> {{ cross.DataModifiedDate }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<button type="button" id="addToCartBtn" class="btn btn-warning mt-3">Add to Cart</button>
<button type="button" id="selectAllBtn" class="btn btn-info mt-3">Select All</button>
<button type="button" id="deselectAllBtn" class="btn btn-info mt-3">Deselect All</button>
<div id="cart" class="mt-5">
    <h3>Cart</h3>
    <div id="cartItems"></div>
    <button type="button" id="emptyCartBtn" class="btn btn-danger mt-3">Empty Cart</button>
</div>
<form id="generateLabelsForm" method="post" action="/generate_labels" target="_blank">
    <input type="hidden" name="selected_uids" id="selectedUids">
    <input type="hidden" name="blank_spaces" id="blankSpaces">
    <input type="hidden" name="quantities" id="quantities">
    <button type="button" id="generateLabelsBtn" class="btn btn-primary btn-block mt-3">Generate Labels</button>
</form>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js"></script>
<script src="{{ url_for('static', filename='js/cross_explorer.js') }}"></script>
{% endblock %}
