{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Flip Schedule</h1>

    <div class="row">
        <div class="col-md-12">
            <ul class="list-group">
                {% for date, data in schedule.items() %}
                    <div class="date-section d-flex justify-content-between align-items-center">
                        <h3>{{ date }} ({{ data.day_of_week }})</h3>  <!-- This will display the day of the week -->

                        <form method="POST" action="/generate_labels_for_day" class="ml-3">
                            <input type="hidden" name="date" value="{{ date }}">
                            <input type="hidden" name="blank_spaces" id="blankSpaces">
                            <button type="submit" class="btn btn-primary submit-button">Generate Labels for {{ data.day_of_week }}</button>
                        </form>
                    </div>
                    <p><strong>Trays Needed:</strong> {{ data.trays|join(', ') }}</p> <!-- This will show the trays -->

                    <ul>
                        {% for item in data.flip_items %}  <!-- Changed "items" to "flip_items" here -->
                            <li>{{ item|safe }}</li>
                        {% endfor %}
                    </ul>
                    <!-- Add some space between the dates -->
                    <hr>
                {% endfor %}

            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    // Select all buttons with the class 'submit-button'
    document.querySelectorAll('.submit-button').forEach(function(button) {
        // Add a click event listener to each button
        button.addEventListener('click', function(event) {
            // Prevent the default form submission
            event.preventDefault();

            // Ask the user how many blank spaces they want to leave
            var blankSpaces = prompt('How many blank spaces would you like to leave?');
            
            // Find the associated form of the clicked button
            var form = this.closest('form');

            // Set the value of the hidden input to the user's response
            form.querySelector('#blankSpaces').value = blankSpaces;

            // Submit the form
            form.submit();
        });
    });
</script>
{% endblock %}
