.cross-item-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-shrink: 0;
}

.badge-eclose {
    background-color: #0a4f02;
    color: white;
}

@media (max-width: 767px) {
    .cross-item-actions {
        width: 100%;
    }
}